
@model List<DoctorViewModel>

@{
    ViewData["Title"] = "Doctors";
}

<h2>Doctors</h2>


<div class="container">
    <table class="table table-striped table-hover table-bordered text-center align-middle">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>User Name</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Lockout Enabled</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var doctor in Model)
            {
                <tr>
                    <td>@doctor.Id</td>
                    <td>@doctor.UserName</td>
                    <td>@doctor.FullName</td>
                    <td>@doctor.Email</td>
                    <td>@doctor.PhoneNumber</td>
                    <td>@doctor.LockoutEnabled</td>
                    <td>
                        @* <a asp-action="Lock" asp-route-id="@doctor.Id" class="btn btn-info ">Locked</a> *@
                        <a asp-action="Details" asp-route-id="@doctor.Id" class="btn btn-info ">Details</a>
                        <a asp-action="Edit" asp-route-id="@doctor.Id" class="btn btn-success ">Edit</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
